.tweets-container {
  color: blue;
  margin-top: 10px;
  box-shadow: 20px solid royalblue;
  padding-bottom: 10px black;
  background-color: #f4f1ec;


}

footer {
  border: 10px brown;
  display:flex;
  justify-content: space-between;
  padding: 0% 3% 3% 3%;
}



.name {
  display:flex;
  justify-content: space-between;
  
}

.nametag {
  display: flex;
  padding: 15px;
}


.username {
  display:flex;
  justify-content: right;
  align-items: flex-start;
}

footer span {
  padding-left: 10px;
  

}

.tweet:hover {
  box-shadow: 10px 10px red;
}
.fa-heart:hover {
  color: burlywood;
}
.fa-flag:hover{
  color: burlywood;
}
.fa-retweet:hover{
  color: burlywood;
}

.article-tweet>div {
  display: flex;
  align-items: center;
}






.tweets {
  border: 3px solid black;
 margin-top: 20px;
 box-shadow: 10px 10px solid royalblue;
 border-bottom: 3px solid black;
 

}

.tweets:hover {
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.handle {
  display: flex;
  justify-content: right;
  align-items: flex-start;
padding: 15px;
  color: grey;
}

.article-tweet.header.tag {
  margin: 3% 2% 0% 0%;
  color: rgba(158, 152, 152, 0.562);
  font-size: 80%;
}

.new-tweet {
  background-color: #f4f1ec;

}